.row-header p {
    font-size: 1.5em;
}

#login-register-form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    margin: 20px 0px;
}

.tabs {
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
}

.tabs > li
{
    text-decoration: none;
    padding: 15px;
    background: rgba(224, 158, 26, 0.25);
    color: #a0b3b0;
    font-size: 1.5em;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    transition: .5s ease;
}

.tabs > li:hover {
    background: rgba(224, 158, 26, 1);
    color: #ffffff;
}

.tabs > .selected {
    background: rgba(224, 158, 26, 1);
    color: #ffffff;
}

#form-message {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 40px 0px;
}

.input-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    margin: 0px;
}

.form-input {
    font-size: 15px;
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px 20px 0px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    transition: border-color .5s ease;
}

option {
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    margin: 0px;
    background-color: rgba(19, 35, 47, 0.9);
}

input:focus {
    border-color: rgba(224, 158, 26, 1);
}

.button {
    margin-top: 20px;
    border: 0;
    outline: none;
    width: 100%;
    padding: 15px 0;
    font-size: 2em;
    font-weight: 600;
    letter-spacing: .1em;
    background: rgba(224, 158, 26, 1);
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

.button:hover, .button:focus {
    background: rgba(183, 129, 22, 1);
}

.input-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.input-row > div:last-child {
    margin: 0;
}

.row-footer {
    margin: 0px auto;
    padding: 20px 0px;
    background-color: rgba(51, 64, 73, 1.0);
    color: aliceblue;
}

#jumbotron {
    margin: 0px auto;
    padding: 70px 30px;
    background-color: rgba(19, 35, 47, 0.9);
    color: aliceblue;
}

address {
    color: #0f0f0f;
    font-size: 80%;
    margin: 0px;
    color: aliceblue;
}

.social {
    padding: 50px 0px;
    color: aliceblue;
}

#body-background {
    background-color: rgba(19, 35, 47, 0.9);
}

.alertMessage {
    color: red;
}

#countrySignup {
    background: url(../images/Arrow%20Down.png) no-repeat center right;
    background-size: contain;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     -webkit-transition: border-color .5s ease;
    -moz-transition: border-color .5s ease;
    transition: border-color .5s ease;
}

select:focus {
    border-color: rgba(224, 158, 26, 1);
}